export AWS_DEFAULT_REGION='us-west-1'
export AWS_ACCESS_KEY_ID='AKIAZM2ISRD5B2TYLS66'
export AWS_SECRET_ACCESS_KEY='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'
export AWS_REGION='eu-west-1'

# SETUP SERVERLESS SETTINGS
export SLS_SSE_KMS_KEY_ID="$(aws kms list-keys | jq -r --arg j "$(aws kms list-aliases | jq -r '.Aliases[] | select(.AliasName | contains("serverless")) | .TargetKeyId')" '.Keys[] | select(.KeyId | contains($j)) | .KeyArn')"
export SLS_DEPLOYMENT_BUCKET_NAME="$(aws s3 ls | rg 'serverless' | awk '{print $3}')"